<?php
$loc="application/views/";
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Application</title>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="demo page">

    <!--    FAV ICON-->
    <!-- Bootstrap core CSS -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="assets/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" href="assets/css/style.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>


    <![endif]-->
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>



</head>

<body ng-app="myApp" ng-controller="userController">
<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse">

        </div>
    </div>
</nav>
<div class="container" >
    <div class="row">
        <h4 class="container_title col-md-12">Dashboard</h4>

        <div class="col-md-10 col-md-offset-1">
            <h4 class="block_title">People</h4>
            <div class="user_buttons col-md-6">

                <!--<a class="plain_button col-xs-12 col-md-12" href="#view_person_modal" data-toggle="modal" data-target="#view_person_modal">-->
                <!--<div  class="nopaddingleftright col-xs-11 col-md-11 ">{{user[0].email}}  </div>-->
                <!--<div class=" nopaddingleftright col-xs-1  col-md-1 glyphicon glyphicon-play"></div>-->
                <!--</a>-->

                <div ng-repeat="x in user">
                    <a class="plain_button col-xs-12 col-md-12" ng-click="showSingleUser(x.id)" href="#view_person_modal" data-toggle="modal" data-target="#view_person_modal">
                        <div  class="nopaddingleftright col-xs-11 col-md-11" id="id{{x.id}}">{{x.email }}</div>
                        <div class=" nopaddingleftright col-xs-1  col-md-1 glyphicon glyphicon-play"></div>
                    </a>
                </div>

                <a href="#add_new_user_modal" data-toggle="modal" data-target="#add_new_user_modal">
                    <button class="text-center plain_add_button">Add Person </button>
                </a>
            </div>
            <div style="clear:both"></div>
            <h4 class="block_title">Tasks</h4>
            <div class="user_buttons col-md-6">
                <div ng-repeat="t in task">
                    <a href="task.html?id={{t.id}}" class="nopaddingleftright plain_button col-md-12" id="task{{t.id}}">Task {{$index+1}}</a>
                </div>
                <a href="#add_new_task_modal" data-toggle="modal" data-target="#add_new_task_modal">
                    <button ng-disabled="checkactiveuser()" class="text-center plain_add_button">Add Task </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="add_new_user_modal" tabindex="-1" class="modal fade" data-backdrop="static" style="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Person</h4>
            </div>
            <div  class="modal-body col-md-10 col-md-offset-1">
                <form name="add_new_user" ng-submit="addNewUser()">
                    <p>Email:<br>
                        <input type="email" name="new_email" class="form-control"  ng-model="new_email" required>
                        <span style="color:red" ng-show="add_new_user.new_email.$dirty && add_new_user.new_email.$invalid || add_new_user.new_email.$touched">
                        <span ng-show="add_new_user.new_email.$error.required">Email is required.</span>
                        <span ng-show="add_new_user.new_email.$error.email">Invalid email address.</span>
                        </span>
                    </p>

                    <button type="submit" ng-disabled="add_new_user.new_email.$error.required || add_new_user.new_email.$error.email" class="btn btn-success text-center plain_add_button">Add Person </button>
                </form>


            </div>

            <div class="modal-footer">
                <div class="col-md-10 col-md-offset-1 nopaddingleftright">
                    <button type="button" data-dismiss="modal" class="btn btn-danger text-center plain_add_button">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="view_person_modal" tabindex="-1" class="modal fade" data-backdrop="static" style="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Person</h4>
            </div>
            <div class="modal-body col-md-10 col-md-offset-1">
                <h5>Email : {{singleuser[0].email}}</h5>
                <button type="button" ng-click="assignActiveUser(singleuser[0].id)" class="text-center plain_add_button">Set As the User On This Device</button>
            </div >
            <button type="button"   data-dismiss="modal" class="btn btn-danger text-center plain_add_button border_none">Cancel</button>
        </div>
    </div>
</div>

<div id="add_new_task_modal" tabindex="-1" class="modal fade" data-backdrop="static" style="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Task</h4>
            </div>
            <div class="modal-body col-md-12">
                <form name="add_new_task" ng-submit="addNewTask()">
                    <div class="form-group">
                        <label class="block_title" for="task_description" >Description</label>
                        <textarea  class="form-control" rows="4" id="task_description" name="task_description" ng-model="newtask.description" required></textarea>
                        <span style="color:red" ng-show="add_new_task.$submitted || add_new_task.task_description.$touched">
                        <span ng-show="add_new_task.task_description.$error.required">Description is required.</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="block_title" for="task_due_date">Due Date</label>
                        <input type="text" class="form-control" id="task_due_date" name="task_due_date" ng-model="newtask.due_date" required>
                         <span style="color:red" ng-show="add_new_task.$submitted || add_new_task.task_due_date.$touched">
                        <span ng-show="add_new_task.task_due_date.$error.required">Due Date is required.</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="block_title" for="task_assigned_to">Assign to</label>
                        <select class="form-control" ng-options="item as item.email for item in user" id="task_assigned_to" name="task_assigned_to" ng-model="newtask.assigned_to" required>
                            <option value="">-- select a user --</option>
                        </select>
                         <span style="color:red" ng-show="add_new_task.$submitted || add_new_task.task_assigned_to.$touched">
                        <span ng-show="add_new_task.task_assigned_to.$error.required">Please select to a user</span>
                        </span>
                    </div>

                    <button type="submit" ng-disabled="add_new_task.task_assigned_to.$error.required ||add_new_task.task_due_date.$error.required ||add_new_task.task_description.$error.required " class="btn btn-success text-center plain_add_button">Add Task </button>
                </form>

            </div>

            <div class="modal-footer">

                <button type="button" data-dismiss="modal" class="btn btn-danger text-center plain_add_button">Cancel</button>

            </div>
        </div>
    </div>
</div>



<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/angular.min.js"></script>

<script>


    var app = angular.module("myApp", []);

    app.factory('setactiveuser', function(){
        return {
            active: function(userid){
                $( "#activeuser" ).remove();
                $('#id'+userid).append('<span id="activeuser">'+"(User on this device)"+'</span>');
                $('#view_person_modal').modal('hide');
            }
        }
    });

    app.controller('userController', function($scope,$http,setactiveuser) {
        $scope.user={},
                $scope.newtask={},
                $scope.activeuser="",
                $scope.assignActiveUser=function(getactiveid) {
                    $scope.activeuser =getactiveid;
                    angular.forEach($scope.user, function(user) {
                        if(user.id==$scope.activeuser){
                            $scope.fromFactory = setactiveuser.active(user.id);
                            $http({
                                method : "GET",
                                responseType:'json',
                                url : "api/index.php/task/tasklist?id="+$scope.activeuser
                            }).then(function mySucces(response) {

                                if(response.data != null){
                                    $scope.task = response.data;
                                }
                            }, function myError(response) {
                                $scope.task = response.statusText;
                            });
                        }
                    });
                },
                $scope.checkactiveuser=function(){
                    if($scope.activeuser){
                        return false;
                    }else{
                        return true;
                    }
                },
                $scope.sendTaskEmail=function(){
                    $http({
                        method : "GET",
                        responseType:'json',
                        url : "api/index.php/email/taskmail"
                    }).then(function mySucces(response) {
//                        $scope.user = response.data;
                        console.log(response.data);

                    }, function myError(response) {
//                        $scope.user = response.statusText;
                    });
                },
                $scope.showSingleUser = function(getid) {
                    var data = $.param({
                        id:getid
                    });
                    var config = {
                        headers : {
                            'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                        }
                    };
                    var url="api/index.php/welcome/singleuserdata";
                    $http.post(url, data, config)
                            .then(function mySucces(response) {
                                $scope.singleuser = response.data;
                            }, function myError(response) {
                                $scope.singleuser = response.statusText;
                            });

                },
                $scope.addNewTask = function() {
                    var data= $.param({
                        description:$scope.newtask.description,
                        due_date:$scope.newtask.due_date,
                        assigned_to:$scope.newtask.assigned_to.email,
                        assigned_by:$scope.activeuser
                    });
                    var config= {
                        headers : {
                            'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                        }
                    };
                    var url="api/index.php/task/addnewtask";
                    $http.post(url, data, config)
                            .then(function mySucces(response) {
                                $scope.sendTaskEmail();
                                location.reload();

                            }, function myError(response) {
//                                $scope.singleuser = response.statusText;
                            });
                },
                $scope.addNewUser = function() {
                    var data = $.param({
                        email:$scope.new_email
                    });
                    var config = {
                        headers : {
                            'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                        }
                    };
                    var url="api/index.php/welcome/addnewuser";
                    $http.post(url, data, config)
                            .then(function mySucces(response) {
//                                $scope.singleuser = response.data;
//                                console.log(response.data);
                                location.reload();
                            }, function myError(response) {
//                                $scope.singleuser = response.statusText;
                            });

                },

                $http({
                    method : "GET",
                    responseType:'json',
                    url : "api/index.php/welcome/alluserdata"
                }).then(function mySucces(response) {
                    $scope.user = response.data;

                }, function myError(response) {
                    $scope.user = response.statusText;
                });


    });



</script>

<script>

</script>
</body>
</html>