


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task</title>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="demo page">

    <!--    FAV ICON-->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="assets/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" href="assets/css/style.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>

    <![endif]-->

    <style>
        #task_details h4{
            word-break: break-all;
        }
    </style>

</head>

<body ng-app="myApp" ng-controller="taskController">
<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="btn btn-default " style="margin-top: 10px;margin-left: 5px;">Close</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h4 class="container_title col-md-12">View Task</h4>

        <div class="col-md-10 col-md-offset-1" id="task_details">
            <div class="form-group col-md-12 col-xs-12 nopaddingleftright">
                <h5 class="col-md-6">Description:</h5>
                <h5 class="text-justify col-md-12">{{task[0].description}}</h5>
            </div>
            <div class="form-group col-md-12 col-xs-12 nopaddingleftright">
                <h5 class="col-md-6 col-xs-5">Due Date : </h5>
                <h5 class="col-md-6 col-xs-7">{{task[0].due_date}}</h5>
            </div>
            <div class="form-group col-md-12 col-xs-12 nopaddingleftright">
                <h5 class="col-md-6 col-xs-5">Assigned to : </h5>
                <h5 class="col-md-6 col-xs-7">{{task[0].assigned_to}}</h5>
            </div>
            <hr style="font-weight: 800;width: 80%;border-top: 1px solid #333;">
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h4 class="text-center">HISTORY</h4>
            <button type="submit" ng-disabled="len<10" ng-click="loadnextten()" class=" text-center plain_add_button">Load Previous </button>
            <div ng-repeat="n in note">
                <div class="form-group col-md-12 col-xs-12 nopaddingleftright">
                    <p class="text-right">{{n.timestamp}}</p>
                    <p>{{n.description}}</p>
                    <div class="text-center">
                        <img ng-show="n.image" src="assets/img/{{n.image}}" height="200" width="200"  class="text-center">
                    </div>
                </div>
            </div>
            <hr style="font-weight: 800;width: 80%;border-top: 1px solid #333;">
            <form action="store_image.php" method="post" enctype="multipart/form-data" style=" padding-top: 40px;padding-bottom: 40px;">
                <div class="form-group">
                    <label for="fileToUpload">Choose an image to upload</label>
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <input type="hidden" name="img_task_id" value="{{currenttask}}" id="taskidimg">
                </div>
                <div class="col-md-6 col-md-offset-3" style="margin-bottom: 20px;">
                    <button type="submit" ng-click="sendNoteEmail()" class="btn btn-warning text-center plain_add_button">Upload Image </button>
                </div>
            </form>
            <form name="add_new_note" ng-submit="addNewNote()" >
                <textarea  class="form-control" rows="3" id="note_description" name="note_description" ng-model="note.description" required></textarea>
                        <span style="color:red" ng-show="add_new_note.$submitted || add_new_note.note_description.$touched">
                        <span ng-show="add_new_note.note_description.$error.required">Note can't be empty.</span>
                        </span>

                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" ng-disabled="add_new_note.note_description.$error.required" class="btn btn-success text-center plain_add_button">Add Note </button>
                </div>
            </form>

        </div>
    </div>
</div>



<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

</script>
<script>
    var id = getParameterByName('id');



    var app = angular.module("myApp", []);

    app.controller('taskController', function($scope,$http) {
        $scope.currenttask= id,
                $scope.task={},
                $scope.note={},
                $scope.range=0,

                $scope.sendNoteEmail=function(){
                    $http({
                        method : "GET",
                        responseType:'json',
                        url : "api/index.php/email/notemail"
                    }).then(function mySucces(response) {
//                        $scope.user = response.data;
                        console.log(response.data);

                    }, function myError(response) {
//                        $scope.user = response.statusText;
                    });
                },
                $scope.loadpreviousvisible=function(){
//                    $scope.len=$scope.note[0].size;
//
                },
                $scope.loadnextten=function(){

                    $scope.range=$scope.range+5;

                    $http({
                        method : "GET",
                        responseType:'json',
                        url : "api/index.php/note/allnotes?id="+$scope.currenttask+"&range="+$scope.range
                    }).then(function mySucces(response) {
                        $scope.note = response.data;
                        $scope.loadpreviousvisible();
                        console.log($scope.note);
                    }, function myError(response) {
                        $scope.note = response.statusText;
                    });
                },
                $scope.addNewNote=function(){
                    var data = $.param({
                        description:$scope.note.description,
                        taskid:$scope.currenttask
                    });
                    var config = {
                        headers : {
                            'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                        }
                    };
                    var url="api/index.php/note/addnewnote";
                    $http.post(url, data, config)
                            .then(function mySucces(response) {
                                $scope.sendNoteEmail();
                                location.reload();
                            }, function myError(response) {
//                                $scope.singleuser = response.statusText;
                            });
                },
                $http({
                    method : "GET",
                    responseType:'json',
                    url : "api/index.php/task/getsingletask?id="+$scope.currenttask
                }).then(function mySucces(response) {
                    $scope.task = response.data;
                }, function myError(response) {
                    $scope.task = response.statusText;
                });
        $http({
            method : "GET",
            responseType:'json',
            url : "api/index.php/note/allnotes?id="+$scope.currenttask+"&range="+$scope.range
        }).then(function mySucces(response) {
            $scope.note = response.data;
            $scope.loadpreviousvisible();
            console.log($scope.note);
        }, function myError(response) {
            $scope.note = response.statusText;
        });

    });


</script>
</body>
</html>

