/* ==========================================================================
FONTS
========================================================================== */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
/* ==========================================================================
NAVBAR STYLES
========================================================================== */
.row{
    margin-left: 0;
    margin-right: 0;
}
.container{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    padding-right: 0;
    padding-left:0;
}

.container_title{
    margin-top: 50px;
    background-color: #3386F3;
    color: #ffffff;
    padding: 15px;
    border-style: solid;
    border-width: 1px;

    border-color: black;

}
.nopaddingleftright{
    padding-left: 0;
    padding-right: 0;
}
.plain_button{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
    /*display: block;*/
}
.plain_add_button{
    margin-top: 20px;width: 100%;padding: 10px;
}
.block_title{
    padding-left: 20px;
}
.user_buttons{
    padding-bottom: 40px;
}
.user_buttons a{
    color:#000000;
    text-decoration: none;
    display: block;
}

/*modal*/
.modal-header{
    background-color: #3386F3;
    color:#ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}
.modal .form-control{
    border: 1px solid #000;
}

.border_none{
    border-radius: 0;
}
#activeuser{
    float: right;
}